.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #001014;
    padding: 25px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

td {
    text-align: left;
}

th {
    background: silver;
}
blink {
    -webkit-animation: 2s linear infinite condemed_blink_effect;
    animation: 2s linear infinite condemed_blink_effect;
}
@-webkit-keyframes condemed_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemed_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}